@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');



a:hover {
    text-decoration: none;
    color: #00AA95;
}

.active-button {
    background-color: #00F5E8 !important;
    color: #002D55;
}

.bar-footer {
    background-color: #021C34;
    margin-bottom: 60px;
    text-align: center;
    width: 100%;
}

.bottommargin{
    margin-bottom: 5px !important;
}

.buttons {
    list-style: none;
    margin: 0;
    padding: 0;
}

.button-link {
    display: block;
    float: left;
    width: 100%;
    height: 65px;
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: 25% 50%;
    background-color: #002D55;
    color: #4D6C88;
    /* color: #ffffff; */
    font-size: 14px;
    text-align: center;
    padding-top: 25px;
}

.buttons-section-r{
    display: flex;
    float: left;
    flex: 0 0 auto;
    height: auto;
    justify-content: center;
    width: 33.33333333%;
}

.col-6{
    display: inline-block;
    width: 48%;
}

#content {
    background: none !important;
}

#consulta_externa {
    width: 45% !important;
}

#consulta_externa>input,
#consulta_externa>select {
    background-color: #FFFFFF !important;
    border: 2px solid #002D55 !important;
    border-radius: 35px !important;
    box-sizing: border-box !important;
    color: #999999;
    display: block !important;
    font-family: "Open Sans" !important;
    font-size: 16px !important;
    font-weight: normal !important;
    height: 60px !important;
    margin-bottom: 4px !important;
    padding: 16px !important;
    text-transform: lowercase;
}

#consulta_externa > label {
    color: #002d55 !important;
    font-size: 16px !important;
    font-weight: bolder !important;
    margin-bottom: -1px !important;
    text-transform: initial !important;
}

#consulta_externa > span:before{
    content: "\f004 Campo requerido";
    color: #fdc801;
    font-family: 'Open Sans';
    font-size: 13px;
    font-style: initial;
}

.container-buttons {
    margin: 0;
    padding: 0;
}

.content-footer {
    display: flex;
    height: auto;
    padding-top: 20px;
    width: 100%;
}

.content-sections {
    padding: 0px 20px 0px 0px;
}

#enviar{
    border: none;
    background-color: #002D55 !important;
    background-repeat: no-repeat !important;
    background-size: auto;
    border-radius: 45px;
    color: white;
    font-family: "Open Sans" !important;
    font-weight: 600 !important;
    font-size: 1em!important;
    height: 45px;
    margin: 0px auto;
    margin-top: 1em !important;
    padding: 3px;
    text-align: center !important;
    width: 50% !important;
}

.fixed-bottom {
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1030;
}

#form {
    background: white;
    border-radius: 40px !important;
    margin: auto;
    padding: 4em 8em;
    position: relative;
    top: -28px;
}

#footer{
    background: radial-gradient(circle at 1% 1%, rgba(0,245,227,0.5), transparent 10%),radial-gradient(circle at 99% 99%, rgba(0,245,227,0.5), transparent 10%),radial-gradient(circle at 50% 50%, #002D55, #002D55 100%) !important;
    padding: 50px 0px 0px 0px;
}

#header,
#wrapper {
    background: none;
    border-bottom: none;
}

#header>#header-wrap>.container {
    background: linear-gradient(90.77deg, rgba(255, 255, 255, 0.72) 9.57%, rgba(255, 255, 255, 0.45) 95.45%);
    backdrop-filter: blur(4px) !important;
    border-radius: 40px !important;
    border-right: none !important;
    max-width: 1140px !important;
    margin: auto !important;
    /* background: linear-gradient(90.77deg, rgba(255, 255, 255, 0.72) 9.57%, rgba(255, 255, 255, 0.45) 95.45%)  !important; */
    margin-top: 20px !important;
    padding: 0px 0px 0px 0px !important;
    padding: 15px 20px 15px 20px !important;
    position: relative !important;
    z-index: 99 !important;
}

#header.sticky-header #header-wrap{
    background-color: transparent;
    box-shadow: none;
    position: inherit;
}



#logo {
    border: none !important;
}

.logo-container{
    display: block;
    float: left;
    height: 160px;
    margin: 30px 0px;
    margin-top: 0;
    padding-left: 50px;
    width: 100%;
}

.log-rncefooter{
    display: block;
    float: left;
    height: 100% !important;
    width: auto !important;
}

#logo>center>a>img {
    height: 67px !important;
}

.menu-footer{
    display: block;
    float: left;
    padding-top: 20px;
}

.nav>li>a{
    padding-top: 24px !important;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #002D55 !important;
}

#page-title {
    background: none;
    border-bottom: none;
    margin: auto !important;
    max-width: 1140px !important;
}

#page-title>.clearfix>h1 {
    color: #002d55 !important;
    font-family: "Open Sans" !important;
}

.socialnet {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    display: block;
    float: left;
    height: 25px;
    margin-right: 20px;
    margin-bottom: 40px;
    width: 25px;
}

.stretched {
    background: radial-gradient(circle at 67.6% 20.39%, rgba(255,255,255,0.5), transparent 69%),radial-gradient(circle at 88.75% 28.67%, rgba(255,255,255,0.5), transparent 60%),radial-gradient(circle at 13.33% 0.38%, #c8f7f4, transparent 38%),radial-gradient(circle at 86.77% 1.6%, #bfd4f5, transparent 39%),radial-gradient(circle at 81.09% 74.15%, rgba(255,255,255,0.5), transparent 57%),radial-gradient(circle at 67.81% 96.71%, #bedbf7, transparent 36%),radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%) !important;
    /* background-color: red; */
}

.socialnet-container{
    display: block;
    float: left;
    height: auto;
    margin-left: 29px;
    margin-top: -17px;
    width: 100%;
}

.white{
    color: #f0f0f0;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 19px;
    line-height: 1.8;
}

/* Social styles */
.linkedin {
    background-image: url(/_includeNew/rnec/images/ico-footer-linkedin.svg);
}

.facebook {
    background-image: url(/_includeNew/rnec/images/ico-footer-facebook.svg);
}

.twitter {
    background-image: url(/_includeNew/rnec/images/ico-footer-twitter.svg);
}

.youtube {
    background-image: url(/_includeNew/rnec/images/ico-footer-youtube.svg);
}

.instagram {
    background-image: url(/_includeNew/rnec/images/ico-footer-instagram.svg);
}

.tiktok {
    background-image: url(/_includeNew/rnec/images/ico-footer-tiktok.png);
}

.institutional {
    background-image: url(/_includeNew/rnec/images/institucinal.png);
}

.services {
    background-image: url(/_includeNew/rnec/images/servicios.png);
}

.cedae {
    background-image: url(/_includeNew/rnec/images/CEDAE.png);
    background-position: 20% 50% !important;
}

.fa-solid, .fas {
    font-weight: 900;
}

.fa-classic, .fa-regular, .fa-solid, .far, .fas {
    font-family: "Font Awesome 6 Free";
}

/* Social styles */

